__pycache__/inputs.cpython-312.pyc
__pycache__/visualizer.cpython-312.pyc
main_old.py
__pycache__/algorithms.cpython-312.pyc
__pycache__/app_controller.cpython-312.pyc
__pycache__/app_states.cpython-312.pyc
__pycache__/styles.cpython-312.pyc
__pycache__/file_reader.cpython-312.pyc
__pycache__/gui_elements.cpython-312.pyc
__pycache__/gui_manager.cpython-312.pyc
__pycache__/gui_panels.cpython-312.pyc

diagrams/conceptual_class_diagram.jpg
